[client]
default-character-set = utf8

[mysqld_multi]
mysqld = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
log = /var/log/mysql/multi.log

[mysqld]
character-set-server = utf8
log-warnings
general_log

# レプリケーション設定
log_bin=mysql_bin
innodb_flush_log_at_trx_commit=1
sync_binlog=1
relay_log_info_repository=TABLE
relay_log_recovery=ON

# インスタンス１の設定
[mysqld1]
server-id=1
port = 3311
datadir = /var/lib/mysql1
pid-file = /var/lib/mysql1/mysql.pid
socket = /var/lib/mysql1/mysql.sock
log-error = /var/log/mysql/error1.log
general_log_file = /var/log/mysql/query1.log

# インスタンス２の設定
[mysqld2]
server-id=2
port = 3312
datadir = /var/lib/mysql2
pid-file = /var/lib/mysql2/mysql.pid
socket = /var/lib/mysql2/mysql.sock
log-error = /var/log/mysql/error2.log
general_log_file = /var/log/mysql/query2.log
